/**
 * declorations
 */
.videoblock {
  border: solid 1px #FFF;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 2px 4px 10px #888;
  transition: 0.5s;
  background-color: #DDD;
}
.videoblock:hover {
  box-shadow: 2px 4px 30px #555;
}
.videoblock .video-wrapper {
  background-color: #CCC;
}
.videoblock .video-desc a {
  display: block;
  padding: 5px 6px 7px;
  margin: 2px;
  color: #555;
  text-decoration: none;
  overflow-x: hidden;
  border-radius: 3px;
  transition: 0.5s;
}
.videoblock .video-desc a:hover {
  color: inherit;
  background-color: #FFFFFF;
}

/**
 * main demo style
 */
.videoblock-dynamic .wrap-scale-width iframe,
.videoblock-dynamic .wrap-scale-width embed,
.videoblock-dynamic .wrap-scale-width object,
.videoblock-dynamic .wrap-scale-width video {
  position: relative;
  width: 100%;
}

.videoblock-dynamic .wrap-scale-width-height {
  position: relative;
  padding-top: 25px;
  height: 0;
}
.videoblock-dynamic .wrap-scale-width-height iframe,
.videoblock-dynamic .wrap-scale-width-height embed,
.videoblock-dynamic .wrap-scale-width-height object,
.videoblock-dynamic .wrap-scale-width-height video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
